* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #2e3a46;
}

header img {
  width: 40px;
  margin: 1em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1e2d3b;
  padding: 5em;
}

main .card {
  background-color: #2e3a46;
  width: 200px;
  height: 350px;
  margin: 1.5em;
  padding: 1em;
  text-align: center;
}

main .card img {
  width: 100%;
}

main .card h3 {
  color: white;
  text-transform: uppercase;
  margin: 1em 0;
}

main .card h4 {
  color: gray;
}

footer {
  height: 50px;
  color: white;
  padding: 1em;
}
